{% extends 'aplicacion/base.html' %}
{% load static %}

{% block barra %}
    <li class="nav-item"><a class="nav-link" href="{% url 'alumnos' %}">Atrás&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-left fa-beat" style="color: #faea05;"title="Buscar Alumno"></i></a></li>
{% endblock barra %}

{% block titulo %}
    <p class="lead">Alumnos</p>
{% endblock titulo %}
    

{% block contenido %}
    <table>
        <tr>
            <td width="150"><h2><i>Alumnos</i></h2></td>
        </tr>
    </table>        
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Comision que cursa</th>
            </tr>
        </thead>
        <tbody>
        {% for a in alumnos %}
        <tr>
            <td>{{ a.nombre }}</td>
            <td>{{ a.apellido }}</td>
            <td>
                {% for materia in a.comision.all %}
                        {{ materia.comision }}
                        {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <a
                    href="{% url 'update_alumno' pk=a.pk %}"
                    class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    ><i class="fa fa-edit fa-sm" title="Editar"></i>
                </a>
                <a
                    href="{% url 'delete_alumno' pk=a.pk %}"
                    class="btn btn-danger"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    ><i class="fa fa-trash fa-sm" title="Borrar"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
        
{% endblock contenido %}